.animate-repeat.ng-enter,
.animate-repeat.ng-leave,
.animate-repeat.ng-move {
   -webkit-transition:all linear 2s;
   -moz-transition:all linear 2s;
   -o-transition:all linear 2s;
   transition:all linear 2s;
}


