<div class="span6">

   <h3>What's in your pantry?</h3>
<ul>
   <li style="list-style-type: none" ng-repeat="inv in inventory">
	  {{inv.item}}
	  <span class="icon-remove" ng-click="removeItem(inv.item) " href="#"></span>
	  <br />
	  <br />
   </li>
   <form ng-submit="addToInventory( new_inventory )">
	  <input type="text" ng-model="new_inventory" /> 
	  <input type="submit" class="icon-plus-sign" style="height: 19px;
													  width: 19px;
													  color: transparent;
	  												  background-color: transparent;
	  												  border: 0;" />
   </form>

</ul>
</div>

<div class="span5" ng-switch="recipes">
   <h3>Recommended Recipes</h3>   
   <p>Based on what you've told us, you'll like these recipes.</p>
   
    
    
   <ul ng-switch-default>
   
   <li style="list-style-type: none; margin-bottom: 20px;" ng-repeat="rec in recommendations">
	  <a class="recipe-tip" data-recipe-id="{{rec.id}}" href="/#/recipe/{{rec.id}}">
	 {{rec.name}} 
	  </a> 

   </li>
   </ul>
</div>

