<ul class="span8">
   
   <div ng-switch="recipes.length">
	  <div ng-switch-when="0">
		 Thanks for telling us what kind of food you like. Now see what 
		 <a href="/#/home">recommendations</a> we've got for you
	  </div>


   </div>
    
   <form ng-model="recipe" ng-if="!recipe.trained" ng-repeat="recipe in recipes"  ng-directive ng-animate=" 'animate' ">
	  <h3>{{recipe.name}}</h3>
	  {{recipe.description}}
	  <br />
	  <span ng-repeat="ing in recipe.ingredients">
		 {{ing}}
	  </span>
	  
	  <h4>Would you enjoy this recipe?</h4>
	  <a style="display: inline-block; margin-right: 7px;" ng-click="rateRecipe( recipe.id, 0 )">No</a>
	  <a style="display: inline-block; margin-right: 7px;" ng-click="rateRecipe( recipe.id, 3 )">Probably Not</a>
	  <a style="display: inline-block; margin-right: 7px;" ng-click="rateRecipe( recipe.id, 7 )">Probably</a>
	  <a style="display: inline-block; margin-right: 7px;" ng-click="rateRecipe( recipe.id, 10 )">Definitely!</a>
	  <hr /> 
   </form>

   <br />
   <br />
   <br />


</ul>

<div class="span3">
   <h2>What's this?</h2>

   Before 21CC can start recommending you awesome recipes, it needs to know a
   little bit about your tastes. Tell us how these ten dishes catch your fancy,
   and 21CC will start learning about your likes and dislikes. 
</div>
